body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.75;
  color: black;
  font-size:100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, 
a:active, 
a:focus {
  border-bottom:2px solid #1cdab4;
}

.hiddenStructure{
    display: block;
    background: transparent;
    background-image: none;
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

/*----------------------------*/
/*--- header ---*/
/*----------------------------*/

.header {
  background: #f5f5f5;
  padding:0.6em;

}

.logo {
  display:inline-block;
}

.logo a {
  display: block;
  width: 4em;
  border-bottom:2px solid transparent;
}

.logo a:hover,
.logo a:active,
.logo a:focus {
  border-bottom:2px solid #1cdab4;
}

.logo a img {
  display: block;
  max-width: 100%;
}

.acceder {
  display: inline-block;
  float: right;
  margin: 0 2em !important;
  padding:0.5em 1em !important;
  text-transform: uppercase;
  font-size: 0.5em;
}

.home {
  width: 30%;
  margin: 5em auto;
  text-align: center;
  line-height: 1em;
}

.home img {
  display:block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1em;
  margin-bottom:5em;
}

.home p {
  font-size: 0.8em;
  margin:0.5em;
}

.footer {
  position:fixed;
  bottom:0;
  padding:0.5em 1em;
  border-top:2px solid #bdbdbd;
  width:100%;
  font-size: 0.6em;
  background: white;  
}

.bold {
  font-weight: bold;
}

.loginPages{
  display: table;
  font-size:0.8em;

}
.dashboardPages {
  display:table;
  font-size:80%;
  width: 100%;
}

.loginPages .logo {
  display: block;
  padding-left:0.7em;
}

.Error {
  padding:9em 0;
}

.columnLeft {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 27%;
}

.columnLeft span {
  display: block;
}

.columnRight {
  display: table-cell;
  width: 73%;
}

.cajaFlexible .footer {
  position: relative;
  font-size: 100%;
  width: auto;
}

.footerLogin {
  text-align: left;
  padding:0 1em;
  line-height: 1.4em;
}

.footer .logo a {
  border-bottom: none;
  margin: 0.3em 0;
}

.form {
  padding-top:15em;
  padding-bottom:10em;
}

.footerLogin span {
  display:inline-block;
}

.form h1 {
  text-align: left;
  margin-left: 3em;
}

.form a,
.footerLogin a,
.footer a {
  color:#bdbdbd;
  text-decoration: underline;
}

.form a:hover,
.form a:active,
.form a:focus,
.footerLogin a:hover,
.footerLogin a:active,
.footerLogin a:focus,
.footer a:hover,
.footer a:active,
.footer a:focus {
  text-decoration: none;
  border-bottom:none;
}

.left {
  text-align: left;
  padding-left: 6em;
}

label {
  display:block;
}
form input {
  border-color:transparent;
  border-bottom:1px solid black;
  margin:1.6em;
  width: 55%;
}

form button,
.acceder {
  display:block;
  margin:1em auto;
  padding: 0.5em 5em;
  background: #1cdab4;
  border: 1px solid #1cdab4;
  color: white;
}

form button:hover,
form button:active,
form button:focus,
.acceder:hover,
.acceder:active,
.acceder:focus {
  background:#12ad8e;
  border:1px solid #12ad8e;
}

form button {
  width: 62%;
}

.formImg img {
  max-width: 100%;
  display: block;

}

input[name="login"] {
  background-image: url("imagenes/usuario-hombre.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2em;
  background-size: 1em;
}

input[name="password"] {
  background-image: url("imagenes/candado-cerrado.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2em;
  background-size: 1em;
}

.rightContent {
  background:#f9f9f9;
}

.contenido {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container {
  display:table-cell;
  vertical-align: top;
  width: 100%;
}

.topImg {
  position: relative;
}

.topImg img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.menuSuperior ul {
  text-align: center;
  padding:1em;
}

.menuSuperior ul li {
  display:inline-block;
  margin:0 0.5em;
}

.menuSuperior ul li a {
  text-decoration: none;
  color:black;
  text-transform: uppercase;
  border:2px solid transparent;
}

.border {
  border-top:1px solid #e1e1e1;
}

.alone {
  padding:1em 0 0.5em 1em;
}

.menuSuperior ul li a:hover,
.menuSuperior ul li a:active,
.menuSuperior ul li a:focus {
  border:2px solid transparent;
  border-bottom-color:#1cdab4;
  padding-bottom: 0.5em;
}

.contentBottom {
  width: 60%;
  margin:2em auto;
  -webkit-box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
  box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
}

.titulo {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 2em auto;
}

.listBottom ul {
  padding-left: 7em;
}

.listBottom ul li {
  list-style: none;
}

.listBottom ul p {
  color:#9d9e9d;
  margin-top:0;
}

/*----------------------------*/
/*--- Menu ---*/
/*----------------------------*/
div.menu {
  display: table-cell;
}

ul#dropdown {
  padding-left: 0;
  margin: 0;
  padding-top:0.5em;
}

.menuLateral {
  position: absolute;
  left:-25em;
}

.marcas {
  padding:0.7em;
  color:#a8a8a8;
  padding-left: 1em;
}

.icon-list-mostrar:before {
background: transparent;
content: "";
float: right;
height: .55em;
width: .55em;
margin-left: 1em;
margin-top: .4em;
transform: rotate(135deg);
-ms-transform: rotate(135deg);
-webkit-transform: rotate(135deg);
border: .2em solid #757575;
border-width: .15em .15em 0 0;
margin:0.6em 0.8em 0;
border-color: #32e6d2;
}

.icon-list-mostrar:before {
transform: rotate(-317deg);
-ms-transform: rotate(-317deg);
-webkit-transform: rotate(-317deg);
}

.icon-list-mostrar {
float:right;
padding:0;
border:1px solid #32e6d2;
border-radius: 50%;
}

.icon-list-ocultar:before {
background: transparent;
content: "";
float: right;
height: .55em;
width: .55em;
margin-left: 1em;
margin-top: .4em;
transform: rotate(135deg);
-ms-transform: rotate(135deg);
-webkit-transform: rotate(135deg);
border: .2em solid black;
border-width: .15em .15em 0 0;
margin:0.5em 0.3em 0.4em 0.6em;
border-color: #32e6d2;
}

.icon-list-ocultar:before {
transform: rotate(-138deg);
-ms-transform: rotate(-138deg);
-webkit-transform: rotate(-138deg);
}

.icon-list-ocultar {
float:right;
padding:0.2em;
border:1px solid #32e6d2;
border-radius: 50%;
}

.menuLateral.mostrar {
  left: 0;
  position: relative;
  background: white;
  transition: all .3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:4em;
}

#mostrar-nav {
  width:2em;
  height:2em;
  position: absolute;
  left: 2em;
  top:1em;
  cursor:pointer;
  background-color:white;
  z-index: 1;
  background: transparent;
}

#mostrar-nav img {
  max-width: 100%;
  display:block;
}

.menuBottom li {
  list-style: none;
  padding-left:2em;
}

.menuTop {
  background: white;
  margin:0;
  padding-left:0;
  border-bottom:1px solid #e1e1e1;
}

.menuTop li {
  border-left: 4px solid #00ee00;
  list-style: none;
  padding-left:2em;
}

.menuTop li span,
.menuBottom li span {
  font-size: 1.3em;
  margin-right:1em;
  line-height: 1.2em;
}

.menuTop li a,
.menuBottom li a {
  line-height: 2em;
}

.menuBottom li span.spanNuevos {
  display: block;
  margin-left: 2.6em;
  font-size: 1em;
  color:#06dec2;
}

.menuTop {
  display:none;
  visibility: hidden;
}

.menuTop.show {
  display: block;
  visibility: visible;
  margin-bottom:5em;
}

.tituloNasa {
  display: block;
  padding: 0.8em;
  font-weight: bold;
  background: white;
  border-left: 4px solid #00ee00;
  border-top: 1px solid #e1e1e1;
  padding-left: 1.6em;
  width: 20em;
}

.colaboradores {
  margin-right:1em;
}

.progress {
  width:17em;
  height: 0.56em;
  background: #b2f6ec;
  margin:0.8em 0;
}

.progress span {
  position: absolute;
  width: 22%;
  height:0.4em;
  background: #06dec2;
}

.tituloPerfil {
  border-top:3px solid #e1e1e1;
  padding:0.8em;
  display: block;
  color:#a8a8a8;
}

.menuBottom {
  display: none;
  visibility: hidden;
}

.menuBottom.show {
  padding-left:0;
  display: block;
  visibility: visible;
}

.perfil {
  width: 2em;
  max-width: 3em;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
}

.nasa {
  border-radius: 50%;
  position: absolute;
  bottom: -2em;
  left: 0;
  padding: 1em .5em;
  background: white;
  -webkit-box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
  box-shadow: 0px 1px 9px -4px rgba(0,0,0,0.57);
  font-weight: bold;
  font-size: 1.3em;
  margin:0 1em;

}

/*----------------------------*/
/*--- flecha ---*/
/*----------------------------*/

.arrow1:before {
background: transparent;
content: "";
float: right;
height: .55em;
width: .55em;
margin-left: 1em;
margin-top: .4em;
transform: rotate(135deg);
-ms-transform: rotate(135deg);
-webkit-transform: rotate(135deg);
border: .2em solid #757575;
border-width: .15em .15em 0 0;
}

.arrow1.on:before {
transform: rotate(-44deg);
-ms-transform: rotate(-44deg);
-webkit-transform: rotate(-44deg);
}

.arrow1 {
float:right;
margin:-2.5em 1em;
}

.arrow2:before {
background: transparent;
content: "";
float: right;
height: .55em;
width: .55em;
margin-left: 1em;
margin-top: .4em;
transform: rotate(135deg);
-ms-transform: rotate(135deg);
-webkit-transform: rotate(135deg);
border: .2em solid #757575;
border-width: .15em .15em 0 0;
}

.arrow2.on:before {
transform: rotate(-44deg);
-ms-transform: rotate(-44deg);
-webkit-transform: rotate(-44deg);
}

.arrow2 {
  float:right;
  margin:-2.8em 1em;
}

/*----------------------------*/
/*--- galeria ---*/
/*----------------------------*/
  .breadcrumb  {
    display:table;
    padding-left:4em;
    margin: 1.2em 0 0;
  }

  #galeria.top .breadcrumb {
    padding-left:1em;
  }

  .breadcrumb li {
    display: inline-block;
  }

  .breadcrumb li a {
    color:#a8a8a8;
    margin:0 1em;
  }
  span.breadcrumbColor {
    color:#a8a8a8;
  }

  #galeria {
    display: table-cell;
  }

  .galeriaMenu {
    display: table-cell;
    vertical-align: top;
    padding:1em;
}

  .galeriaMenu #form {
    padding-left:1em;
}

  .galeriaMenu h1 {
    margin: 0;
    display: block;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
}

.galeriaMenu ul {
  padding-left:1.5em;
}


.galeriaMenu ul li {
  list-style: none;
}

.busqueda input {
  border-bottom:1px solid #cccccc;
  width:11em;
}

.busqueda .buscar {
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;
  color: black;
  padding: 0.2em 0.5em;
  width: 2em;
}

.busqueda .buscar:hover,
.busqueda .buscar:active,
.busqueda .buscar:focus {
  border:1px solid #cccccc;
}

.etiquetas {
  border: 1px solid #cccccc;
  width: 18em;
  height: 3em;
  color:#989898;
  margin:2em 0;
}
.etiquetas option {
  color:black;
}

input[name="fecha"] {
  font-size: 1em; 
  margin-left: 0.5em;
}

.GaleriaImagenes {
    display: table-cell;
}

.GaleriaImagenes div {
    padding-left:0.5em;
    margin-top:2em;
}

.GaleriaImagenes ul {
  padding:0;
}

.imagenes li {
  display: inline-block;
  margin:0.5em;
}

.imagenes li a {
  display: block;
  width: 14em;
  background: #eceeeb;
  border:2px solid transparent;
}

.imagenes li a:hover,
.imagenes li a:active,
.imagenes li a:focus {
  display: block;
  border:2px solid #1cdab4;
}
  
.imagenes li a img {
  display: block;
  max-width: 100%
}


/*----------------------------*/
/*--- dialog ---*/
/*----------------------------*/
/*.modal-contenido{
  background-color:#00c3ad;
  width:634px;
  margin: 20% auto;
  position: relative;
  top:-10em;
  height:334px;
}

.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#openModal:target{
  opacity:1;
  pointer-events:auto;
  z-index: 1;
}

.imgDialog {
  display: inline-block;
  width: 294px;
  box-sizing:border-box;
}

.imgDialog img {
  width: 26em;
  display:block;
}

.contenidoDialog {
  display: inline-block;
  width: 335px;
  background: white;
  vertical-align: top;
  padding: 1em 1em 0.4em 1em;
  box-sizing:border-box;
}

.contenidoDialog button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 10em;
  background: #1cdab4;
  border: 1px solid #1cdab4;
  color: white;
  text-transform: uppercase;
  line-height: 1.5em;
}

.close {
  color: #1cdab4;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom:2px solid transparent;
  margin-top:1em;
}
.close:hover,
.close:active,
.close:focus { border-bottom:2px solid #1cdab4; }*/

/*   Prueba       */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background: rgb(0,0,0); 
    background: rgba(0,0,0,0.452); 
}

.contenido-modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 55%;
  animation-name:modal;
  animation-duration:1s;
}

@keyframes modal {
  from{top:-330px; opacity:0;}
  to{top:0; opacity: 1;}
}

.modal-body {
  display: table;
  background: white;
}

.imgDialog {
  display: table-cell;
  vertical-align: top;
}

.imgDialog img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.contenidoDialog {
  display: table-cell;
  padding:0.5em 3em;
  width: 50%;
}

button.contactar {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  background: #1cdab4;
  border:1px solid #1cdab4;
  margin-top: 3em;
}

.close {
  color: #1cdab4;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom:2px solid transparent;
  margin-top:1em;
}
.close:hover,
.close:active,
.close:focus { border-bottom:2px solid #1cdab4;
}


/* FIn */

/*----------------------------*/
/*--- Mediaqueries ---*/
/*----------------------------*/

@media only screen and (max-width: 1300px) {
.form {
  padding-top:0;
  padding-bottom:8em;
}
   .contenido-modal {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
   .contenido-modal {
    width: 95%;
  }
}

@media only screen and (max-width: 970px) {
  .form {
    padding-bottom:2em;
  }
}

@media only screen and (max-width: 767px) {

  div.menu {
    left: -260px;
  }

  .menuLateral.mostrar {
    position: absolute;
    margin-top: 5em;
  } 

  .contentBottom {
    width: auto;
  }
  .menuSuperior ul li {
    display:block;
  }
  .listBottom ul {
    padding-left: 5em;
  } 
  .nasa {
    left:40px;
  }

  .modal-body {
    display: block;
    width: 100%;
  }

  .contenido-modal {
    width: 50%;
  }

  .imgDialog {
    display: block;
  }

  .contenidoDialog {
  display: block;
  padding: 1.3em 1em 4.4em 1em;
  width: auto;
  }

  .galeriaMenu {
    display: block;
    width: auto;
    text-align: center;
  }

  .GaleriaImagenes {
    display: block;
    width: auto; 
  }
  .imagenes li {
    display:block;
  }
  .imagenes li a {
    width:auto;
  }

  .dashboardPages {
    flex-direction:column;
  }

  .columnLeft {
    margin:0 auto;
    width: auto;
  }

  .loginPages {
    display: block;
  }

  .columnLeft {
    display: block;
  }

  .home {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .contenido-modal {
    width: 50%;
  }
}






